.about-us-sec1 {
  &__title {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-838383);
    transition: color 0.4s ease-in-out;
    span {
      color: var(--yellow-black);
      transition: color 0.4s ease-in-out;
    }
  }
  &__box-top {
    display: flex;
    gap: calc(130 / 1310 * 100%);
    margin-bottom: 120px;
  }

  &__image {
    width: calc(535 / 1310 * 100%);
    display: flex;
    &.details-company {
      width: calc(424 / 1310 * 100%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    picture {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: var(--p-text);
    transition: color 0.4s ease-in-out;

    p {
      &.bold {
        font-weight: 600;
        opacity: 0.8;
      }
    }
  }

  &__caption {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 32px;
    color: var(--p-text);
    margin-bottom: 70px;
  }

  &__features {
    margin-bottom: 120px;
  }

  &__features-list {
    padding-top: 33px;
    display: grid;
    column-gap: 10px;
    row-gap: 55px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));

    li:last-child {
      grid-column: span 2;
    }
  }

  &__list-desc {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: var(--p-text);
    }
  }

  &__new-box {
    margin-bottom: 60px;
  }

  &__group-links {
    display: flex;
    gap: 24px;
    justify-content: end;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    gap: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--p-text);
    border: 1px solid var(--color-background-yellow);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

    svg, span {
      pointer-events: none;
    }

    .svg-box {
      padding: 6px;
      background-color: var(--color-background-yellow);
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, .05);
    }
  }
  &__bottom-info {
    display: flex;
    gap: 20px;
  }
  &__table-wrapp {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .product-card-sec1__table {
      margin-bottom: 32px;
      padding: 30px;
      gap: 14px;
      background-color: var(--color-background-card);
      transition: background-color 0.4s ease-in-out;
    }
    .product-card-sec1__table-row {
      gap: 15px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 0 0 14px 0;
    }
    .product-card-sec1__table-row p:first-child {
      max-width: 40%;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      color: var(--yellow-black);
      transition: color 0.4s ease-in-out;
    }
    .product-card-sec1__table-row p:last-child {
      align-items: end;
      font-size: 18px;
      text-align: end;
      opacity: 0.8;
    }
    .product-card-sec1__table-row:last-child {
      padding: 0;
      border: none;
    }
  }
}

@media (max-width: 1030px) {
  .about-us-sec1 {
    &__title {
      margin-bottom: 20px;
      font-size: 27px;
    }
    &__box-top {
      gap: 20px;
      margin-bottom: 30px;
      flex-direction: column;
    }

    &__image {
      width: 100%;
      max-height: 400px;
      &.details-company {
        display: none;
      }

      img {
        height: auto;
      }
    }

    &__content {
      font-size: 14px;
      p {
        font-size: 14px;
      }
    }

    &__caption {
      margin-bottom: 17px;
      font-size: 20px;
    }

    &__features-list {
      display: flex;
      gap: 0;

      li {
        height: auto;
      }
    }

    &__features {
      margin-bottom: 60px;
    }

    &__list-desc {
      margin-bottom: 48px;
    }
    &__table-wrapp {
      .product-card-sec1__table {
        margin-bottom: 20px;
        padding: 20px;
        gap: 10px;
      }
      .product-card-sec1__table-row {
        padding-bottom: 10px;
        p:first-child {
          font-size: 14px;
        }
        p:last-child {
          font-size: 14px;
        }
      }
    }
    &__link {
      .svg-box {
        padding: 5px;
      }
    }
  }
}

@media (max-width: 669px) {
  .about-us-sec1 {
    &__group-links {
      flex-direction: column;
      gap: 15px;
    }
    &__link {
      padding-left: 17px;
      gap: 17px;
      font-size: 14px;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}