.about-us-sec1 {
  &__content {
    p {
      color: var(--color-text-black);
    }
  }
  &__caption {
    color: var(--color-text-black);
  }

  &__list-desc {
    p {
      color: var(--color-text-black);
    }
  }

  &__link {
    background-color: #353535;

    svg, span {
      pointer-events: none;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      background-color: var(--colir-border-marker);
    }
  }
}

@media (max-width: 1030px) {
  .about-us-sec1 {
    &__box-top {
      gap: 24px;
      margin-bottom: 40px;
      flex-direction: column;
    }

    &__image {
      width: 100%;
      max-height: 400px;

      img {
        height: auto;
      }
    }

    &__content {
      padding: 16px 11px;

      p {
        font-size: 14px;
      }
    }

    &__caption {
      margin-bottom: 22px;
      font-size: 24px;
    }

    &__features-list {
      display: flex;
      gap: 0;

      li {
        height: auto;
      }
    }

    &__list-desc {
      margin-bottom: 48px;
    }
  }
}

@media (max-width: 669px) {
  .about-us-sec1 {
    &__group-links {
      flex-direction: column;
    }
    &__link {
      padding: 16px 20px;
      justify-content: flex-start;
      gap: 17px;
      font-size: 14px;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}