.catalog-sec1 {
  &__main-title-box {
    position: relative;
  }
  &__top-line {
    margin-bottom: 10px;
    .btn2 {
      &__text {
        white-space: nowrap;
      }
    }
  }
  &__top-line-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    li {
      display: flex;
    }
  }
  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    &.favorite_list {
      display: block;
      .catalog-sec1__products-list {
        column-gap: calc(20 / 1310 * 100%);
        justify-content: flex-start;
        li {
          width: calc(310 / 1310 * 100%);
        }
      }
    }
  }

  &__aside {
    width: calc(310 / 1310 * 100%);
  }

  &__title-wrapp {
    display: flex;
  }
  &__title-btn {
    display: none;
  }
  &__title {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    line-height: 200%;
    text-transform: uppercase;
    color: var(--p-text);
  }

  &__products {
    width: calc(980 / 1310 * 100%);

    font.notetext {
      color: var(--p-text);
    }
  }

  &__products-list {
    margin-bottom: 50px;
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: calc(20 / 980 * 100%);
    row-gap: 60px;
    li {
      width: calc(313 / 980 * 100%);
    }
  }

  &__bottom-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn3__btn {
      cursor: pointer;
      min-height: 43px;
      min-width: 218px;
    }
  }

  &__list-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    li {
      outline: 5px solid transparent;
      position: relative;
      transition: outline 0.4s ease-in-out;

      &:hover {
        outline-color: var(--color-background-yellow);
      }

      .card1 {
        padding: 100px 10px 10px;
      }

      .card1__box-info {
        padding: 15px 10px 10px;
      }

      .card1__title {
        margin-bottom: 10px;
        font-size: 20px;
      }

      .btn1__text {
        padding: 5px 15px;
        font-size: 10px;
      }

      .btn1__box-svg {
        padding: 0 6px;
        svg {
          width: 11px;
          height: 10px;
        }
        
      }
    }
  }
}

@media (max-width: 1200px) {
  .catalog-sec1 {
    &__list-catalog {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__products-list {
      margin-bottom: 30px;
    }
    &__bottom-line {
      .btn3__btn {
        max-width: 218px;
      }
    }
  }
}

@media (max-width: 1030px) {
  .catalog-sec1 {
    &__content {
      flex-direction: column;
      &.favorite_list {
        .catalog-sec1__products-list {
          li {
            width: calc(313 / 980 * 100%);
          }
        }
      }
    }
    &__title {
      margin-bottom: 0;
    }
    &__title-wrapp {
      position: relative;
    }
    &__title-btn {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: end;
      color: var(--p-text);
      transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;
      svg {
        transition: transform 0.4s ease-in-out;
      }
      &.active {
        svg {
          transform: rotate(180deg);
        }
      }
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--color-background-yellow);
      }
    }
    &__aside {
      width: 100%;
    }
    &__box-double-catalog {
      display: none;
      &.active {
        display: block;
      }
    }
    &__products {
      width: 100%;
    }
  }
}

@media (max-width: 950px) {
  .catalog-sec1 {
    &__top-line-list {
      flex-wrap: nowrap;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__list-catalog {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 669px) {
  .catalog-sec1 {
    &__content {
      &.favorite_list {
        .catalog-sec1__products-list {
          li {
            width: calc(304 / 629 * 100%);
          }
        }
      }
    }
    &__products-list {
      column-gap: calc(20 / 629 * 100%);
      row-gap: 20px;
      li {
        width: calc(304 / 629 * 100%);
      }
    }
    &__list-catalog {
      grid-template-columns: 1fr;
    }
  }
}