/*compare*/
.catalog-compare-list{
  display: none !important;
}
.bx_catalog-compare-list {
    display: none;
}
/*order ajax*/
.order-page-container #bx-soa-order .bx-soa-location-input-container input {
    font-size: 14px !important;
}