.main-sec1 {
  position: relative;
  padding: 0;
  background-color: var(--line);

  &__container {
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  &__content {
    position: relative;
    padding: 89px 45% 74px 2px;
  }

  &__title {
    margin-bottom: 22px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--p-text);

    & span {
      color: var(--yellow-black);
    }
  }

  &__desc {
    margin-bottom: 37px;
    max-width: 580px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-desc);
  }

  &__marker {
    position: absolute;
    right: 40%;
    top: 5%;
  }

  &__mobile-swiper-wrapper {
    display: none;
  }

  &__swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__swiper-slide {
    height: auto;
    box-sizing: border-box;
    .slide-hero-video {
      display: none;
    }
    .slide-hero-new {
      display: none;
    }
    .slide-hero-mobil {
      display: none;
    }
    &.new {
      .slide-hero {
        display: none;
      }
      .slide-hero-new {
        height: 100%;
        display: flex;
        picture {
          display: flex;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        img {
          display: flex;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &.video {
      .slide-hero {
        display: none;
      }
      .slide-hero-video {
        height: 100%;
        display: flex;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    /**/
    &:first-child {
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 0.4s ease, transform 0.4s ease;
    }
    
    /**/
    &.swiper-slide-in {
      &:first-child {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__swiper-slide-2 {
    height: auto;
    margin: auto;
    /**/
    &:first-child {
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.4s ease, transform 0.4s ease;
    }
    
    /**/
    &.swiper-slide-in {
      &:first-child {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .slide-hero-mobil {
      display: none;
    }
  }

  &__swiper-pagination {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    & .swiper-pagination-bullet {
      /*border-radius: 100%;
      width: 15px;
      height: 15px;
      margin: 3px !important;
      transition: border 0.4s ease-in-out;
      opacity: 1;
      background-color: var(--black-white);*/
      width: 20px;
      height: 10px;
      background-color: var(--color-text-white);
      opacity: 1;
      border-radius: 0;
      position: relative;
      margin: 0 15px !important;
      &:first-child::before {
        border-top-color: var(--color-text-white);
      }
      &:last-child::after {
        border-bottom-color: var(--color-text-white);
      }
      &::before {
        display: inline-block;
        content: "";
        border-top: 10px solid transparent;
        border-right: 10px solid var(--color-text-white);
        position: absolute;
        left: -10px;
        top: 0;
      }
      &::after {
        display: inline-block;
        content: "";
        border-left: 10px solid var(--color-text-white);
        border-bottom: 10px solid transparent;
        position: absolute;
        right: -10px;
        top: 0;
      }
    }

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--color-background-yellow);
      &:first-child::before {
        border-top-color: var(--color-background-yellow);
      }
      &:last-child::after {
        border-bottom-color: var(--color-background-yellow);
      }
      &::before {
        border-right-color: var(--color-background-yellow);
      }
      &::after {
        border-left-color: var(--color-background-yellow);
      }
    }
  }
}

/*.light {
  .main-sec1 {
    .btn1__text {
      background-color: transparent;
      color: var(--color-text-black);
    }
  }
}*/

@media (max-width: 1030px) {
  .main-sec1 {
    &__marker {
      display: none;
    }

    &__content {
      padding: 50px 30% 50px 2px;
    }

    &__swiper-slide-2 {
      margin-top: 0;
      margin-bottom: auto;
    }

    &__swiper-pagination {
      & .swiper-pagination-bullet {
        width: 10px;
        height: 7px;
        margin: 0 10px !important;
        &::before {
          border-top: 7px solid transparent;
          border-right: 7px solid var(--color-text-white);
          left: -7px;
        }
        &::after {
          border-left: 7px solid var(--color-text-white);
          border-bottom: 7px solid transparent;
          right: -7px;
        }
      }
    }
  }
}

@media (max-width: 669px) {
  .main-sec1 {
    padding-top: 0;
    padding-bottom: 0;
    &__content {
      padding: 150px 2px 35px 2px;
    }

    &__title {
      font-size: 20px;
    }

    &__desc {
      margin-bottom: 30px;
    }

    &__swiper {
      display: none;
    }

    &__container {
      display: none;
    }

    &__mobile-swiper-wrapper {
      display: block;
    }

    &__swiper-slide {
      &.mobil {
        .slide-hero {
          display: none;
        }
        .slide-hero-mobil {
          display: flex;
          height: 100%;
          min-height: 350px;
          &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            picture {
              display: flex;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    &__swiper-slide-2 {
      &.mobil {
        .main-sec1__content {
          opacity: 0;
        }
      }
    }

    &__swiper-pagination {
      padding: 0 20px;
      justify-content: start;
      & .swiper-pagination-bullet {
        width: 7px;
        height: 5px;
        margin: 0 7px !important;
        &::before {
          border-top: 5px solid transparent;
          border-right: 5px solid var(--color-text-white);
          left: -5px;
        }
        &::after {
          border-left: 5px solid var(--color-text-white);
          border-bottom: 5px solid transparent;
          right: -5px;
        }
      }
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
  }
}