.main-sec3 {
  padding: 50px 0;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__swiper-wrapper {
    & li.swiper-slide {
      transform: none;
      height: auto;
      display: flex;
      align-items: stretch;
    }

    & li.swiper-slide:last-child {
      .card2__box-icon {
        display: none;
      }
    }
  }
}

@media (max-width: 1030px) {
  .main-sec3 {
    padding: 30px 0;

    &__content {
      position: relative;
      padding-bottom: 63px;
    }
  }
}