.main-sec2 {
  padding-top: 60px;
  padding-bottom: 50px;
  &__content {
    position: relative;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__item {
    outline: 5px solid transparent;
    position: relative;
    overflow: hidden;
    transition: outline-color 0.4s ease-in-out;
  }

  &__item::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 87px;
    min-width: 87px;
    height: 87px;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }

  &__item:first-child::before {
    bottom: -15px;
    right: -15px;
    border-radius: 100% 0 0 0;
  }

  &__item:nth-child(2)::before {
    bottom: -15px;
    left: -15px;
    border-radius: 0 100% 0 0;
  }

  &__item:nth-child(3)::before {
    top: -15px;
    right: -15px;
    border-radius: 0 0 0 100%;
  }

  &__item:nth-child(4)::before {
    top: -15px;
    left: -15px;
    border-radius: 0 0 100% 0;
  }

  &__item:hover {
    outline: 5px solid var(--color-background-yellow);
    &::before {
      background-color: var(--color-background-yellow);
    }
  }

  &__item:nth-child(2n) .card1 {
    justify-content: end;
  }

  &__item:nth-child(2n) .card1__box-info {
    text-align: end;
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body);
    width: 150px;
    min-width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 100%;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      min-width: 120px;
      height: 120px;
      border: 2px solid var(--body);
      border-radius: 100%;
      background-color: var(--color-background-yellow);
      transition: border-color 0.4s ease-in-out;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:hover,
      &:focus-visible,
      &:active {
        border-color: var(--color-background-yellow);
      }
    }
  }
}

@media (max-width: 669px) {
  .main-sec2 {
    padding-top: 40px;
    padding-bottom: 30px;
    &__list {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &__item::before {
      display: none;
    }

    &__item:first-child::before {
      display: none;
    }

    &__item:first-child {
      outline: none;
    }

    &__item:nth-child(2n) {
      .card1 {
        justify-content: start;
      }

      .card1__box-info {
        text-align: start;
      }
    }

    &__decor {
      display: none;
    }
  }
}