.product-card-sec1 {
  &__button-next, &__button-prev {
    color: var(--color-text-black);
  }

  &__title {
    color: var(--color-text-black);
  }

  &__btn {
    color: #333;
    border: 1px solid #333;
  }

  &__box-btn-decs {
    p {
      span:first-child {
        color: var(--color-text-black);
      }

      span:nth-child(2) {
        color: var(--color-text-black);
      }
    }

    .btn3 {
      height: auto;

      &__btn {
        max-height: 100%;
      }
    }

    .btn5 {
      width: 235px;
    }
  }

  &__equipment-desc {
    color: var(--color-text-black);
  }

  &__equipment-list {
    li.selected {
      button {
      color: var(--color-text-black);
      background-color: var(--color-background-yellow);
      }
    }
  }

  &__table-row {

    p {
      &:first-child {
        font-weight: 500;
        color: var(--color-text-black);
      }

      &:last-child {
        color: var(--color-text-black);
      }
    }
  }

  &__box-content {
    p {
      color: var(--color-text-black);

      span {
        color: var(--color-text-black) !important;
      }
    }
    div {
      color: var(--color-text-black);
    }
    ul li {
      color: var(--color-text-black) !important;
      span {
        color: var(--color-text-black) !important;
      }
    }
  }

  &__btn-fasteners {
    color: var(--color-text-black);
    background-color: var(--color-background-card);
  }
}
