html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** {
  outline: 2px solid red;
}*/

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 340px;
  font-family: "Gilroy", sans-serif;
  background-color: #212121;
  transition: background-color 0.4s ease-in-out;
}

.main {
  flex: 1;
}

.section {
  padding-top: 40px;
  padding-bottom: 70px;
}

.overlay {
  position: fixed;
  z-index: 3;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #333c;
  transition: visibility 0.4s ease-in-out, bottom 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
}

.overlay--active {
  visibility: visible;
  bottom: 0px;
}

.stop-scroll {
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1440px;
  padding: 0 65px;
  margin: 0 auto;
}

:root {
  --font-family: "Gilroy", sans-serif;
  --second-family: "Monda", sans-serif;
}

:root {
  --color-text-black: #000;
  --color-background-yellow: #ffe100;
  --color-text-white: #fff;
  --color-text-gray: #a2a2a2;
  --color-btn-gray: #d9d9d9;
  --color-btn-gray2: #383838;
  --color-background-footer: #1a1a1a;
  --color-background-about: #010101;
  --colir-background-body: #212121;
  --colir-border-marker: #323232;
  --color-switcher: #2e2e2e;
  --color-background-card: #353535;
  --color-background-path: #151515;
  --color-background-menu1: #121212;
  --color-text-path: #555;
  --color-btn-gray3: #292929;
  --color-drop-gray3: #333;
  --color-drop-gray4: #222;
  --color-drop-gray6: #6F6F6F;
  --color-text-card-desc: rgba(255, 255, 255, 0.6);
  --color-text-green: #36d96f;
  --color-text-orange: #ff8c00;
  --color-background-menu2: #0d0c0c;
}

.fslightbox-slide-number-container {
  font-family: var(--font-family);
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1030px) {
  .section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}



