.btn-catalog {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--p-text);
  transition: background-color 0.4s ease-in-out;
  &-wrapp {
    border: 1px solid var(--p-text);
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible,
  &:active {
    .btn-catalog__icon {
      span {
        transform: scale(1.5);
        background-color: var(--yellow-white);
      }
    }
    .btn-catalog__text {
      color: var(--yellow-white);
    }
    background-color: var(--black-gray);
  }

  &.active {
    .btn-catalog__icon {
      span {
        transform: scale(1.5);
        background-color: var(--yellow-white);
      }
    }
    .btn-catalog__text {
      color: var(--yellow-white);
    }
    background-color: var(--black-gray);
  }

  &__icon {
    width: 10px;
    min-width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;

    & span {
      width: 3px;
      min-width: 3px;
      height: 3px;
      background-color: var(--black-white);
      transition: background-color 0.4s ease-in-out, transform 0.5s ease-in-out;
    }

  }

  &__text {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out;
    color: var(--black-white);
  }
}

@media (max-width: 1030px) {
  .btn-catalog {
    padding: 10px;
  }
}