.btn1 {
  pointer-events: auto;
  display: inline-block;
  border: 1px solid var(--color-background-yellow);

  &__link {
    display: flex;
    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      .btn1__text {
        background-color: var(--color-background-yellow);
        color: var(--color-text-black);
      }
    }
  }
  &__text {
    padding: 10px 30px;
    background-color: var(--color-btn-gray2);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 19px;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    color: var(--color-text-white);
  }
  &__box-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    background-color: var(--color-background-yellow);
  }
}

@media (max-width: 1030px) {
  .btn1 {
    &__text {
      padding: 8px 20px;
      font-size: 16px;
    }

    &__box-svg {
      svg {
        width: 17px;
        height: 15px;
      }
    }
  }
}