.btn5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--color-background-card);
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-text-white);
  transition: opacity 0.4s ease-in-out;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible,
  &:active {
    opacity: 0.7;
  }
}