.card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  &__box-img {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-background-card);

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    button {
      width: 26px;
      height: 26px;
      min-width: 26px;
      align-items: center;
      justify-content: center;
      display: flex;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
      color: var(--color-text-white);

      &.active {
        color: var(--color-text-black);
        svg {
          fill: var(--color-background-yellow);
        }
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible,
      &:hover,
      &:active {
        color: var(--color-background-yellow);
      }
    }
  }
  &__box-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link-card {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 159%;
    letter-spacing: -0.05em;
    color: var(--color-text-white);
    transition: color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-background-yellow);
    }

    & span {
      margin-right: 7px;
    }

    & strong {
      margin-right: 7px;
    }

    & span:last-child {
      margin-right: 0;
    }
  }
  &__size {
    display: block;
    margin-right: 0;
  }

  &__box-price {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: end;
  }

  &__price {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    & span:first-child {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.05em;
      color: var(--color-text-white);
    }

    & span:last-child {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 12px;
      letter-spacing: -0.02em;
      text-decoration: line-through;
      color: var(--color-text-gray);
    }
  }

  &__box-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1030px) {
  .card3 {
    &__box-img {
      margin-bottom: 11px;
    }

    &__link-card {
      font-size: 12px;
    }

    &__box-price {
      flex-direction: column;
      align-items: stretch;
    }
  }
}