.logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;

    picture {
      display: flex;
    }

    img {
      max-width: 235px;
      height: 22px;
      filter: var(--filter-3);
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--yellow-black);
    }
  }
}
.light{
  .footer {
    .logo {
      &__link {
        img {
          filter: none;
        }
      }
    }
  }
}