.logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;

    picture {
      display: flex;
    }

    img {
      max-width: 235px;
      height: 22px;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--color-background-yellow);
    }
  }
}