.min-title {
  display: flex;
  margin-bottom: 24px;
  span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #838383;
  }
}
@media (max-width: 1030px) {
  .min-title {
    margin-bottom: 10px;
    span {
      font-size: 12px;
    }
  }
}