#noProductsModal {
  position: fixed;
  z-index: 202;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  .modal_del_close{
    top: 5px;
    right: 5px;
  }
}