.section-title {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: var(--p-text);
  transition: color 0.4s ease-in-out;
  a {
    transition: color 0.4s ease-in-out;
    display: flex;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--color-background-yellow);
    }
  }
}

@media (max-width: 1030px) {
  .section-title {
    margin-bottom: 25px;
    font-size: 28px;
  }
}