.slide-hero {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: var(--line);
  transition: background-color 0.4s ease-in-out;

  &__container{
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;

    a {
      position: absolute;
    }
  }
    
  &__line {
    height: 100%;
    width: 720px;
    position: relative;
    background-color: var(--yellow-black);
    clip-path: polygon(35% 0%, 100% 0%, 65% 100%, 0% 100%);
    background-image: var(--img);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.4s ease-in-out;
  }
}

@media (max-width: 1030px) {
  .slide-hero {
    &__line {
      width: 550px;
    }

    &__container {
      a {
        bottom: 0;
        right: -30px;
      }
    }
  }
}

@media (max-width: 669px) {
  .slide-hero {
    &__container{
      flex-direction: column;
      justify-content: flex-start;
    }

    &__container{
      padding: 0;
    }

    &__line {
      height: 140px;
      width: 100%;
      transform: none;
      clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
      background-image: var(--img-small);
    }

    &__container {
      a {
        max-width: 220px;
        bottom: auto;
        right: 50%;
        transform: translate(50%, 0);
        left: 0;
        top: 0;
      }
    }
  }
}