.switcher {
  width: 44px;
  min-width: 44px;
  height: 22px;
  position: relative;

  &__label {
    cursor: pointer;
    display: flex;
  }

  &__status {
    position: absolute;
    inset: 0;
    background-color: var(--color-switcher);
    border-radius: 57px;
    background-image: url(../img/header/swicher/dark.svg), url(../img/header/swicher/status.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 10px, 18px;
    background-position: center right 6px, center right 2px;
    transition: background-position 0.2s ease-in-out;
  }

  &__input {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
  }

  &__input:checked + .switcher__status{
    background-image: url(../img/header/swicher/sun.svg), url(../img/header/swicher/status.svg);
    background-position: center left 6px, center left 2px;
  }
}

@media (max-width: 1030px) {
  .switcher {
    order: 3;
  }
}