body {
  background-color: #fefefe;
}

:root {
  --color-text-black: #000;
  --color-background-yellow: #ffe100;
  --color-text-white: #fff;
  --color-text-gray: #a2a2a2;
  --color-btn-gray: #d9d9d9;
  --color-btn-gray2: #383838;
  --color-background-footer: #1a1a1a;
  --color-background-about: #010101;
  --colir-background-body: #fff;
  --colir-border-marker: #323232;
  --color-switcher: #fff;
  --color-background-card: #f5f5f5;
  --color-background-path: #e8e8e8;
  --color-background-menu1: #f3f3f3;
  --color-text-path: #555;
  --color-btn-gray3: #292929;
  --color-drop-gray3: #333;
  --color-drop-gray4: #222;
  --color-drop-gray6: #6F6F6F;
  --color-text-card-desc: rgba(255, 255, 255, 0.6);
  --color-text-green: #36d96f;
  --color-text-orange: #ff8c00;
  --color-background-menu2: #0d0c0c;
}

.header__list-link-bottom a {
  color: var(--color-text-black);
}

.logo__link img {
  -webkit-filter: invert(1) brightness(0);
          filter: invert(1) brightness(0);
}

.logo__link:focus-visible {
  outline: 1px solid var(--color-text-black);
}

.footer .logo__link img {
  -webkit-filter: none;
          filter: none;
}

.btn-catalog {
  border: 1px solid var(--color-text-black);
  background-color: var(--color-text-black);
}

.btn-catalog:hover,
.btn-catalog:focus-visible,
.btn-catalog:active {
  background-color: var(--color-btn-gray2);
}

.btn-catalog.active {
  border-color: var(--color-btn-gray2);
  background-color: var(--color-btn-gray2);
}

.btn-catalog__icon span {
  background-color: var(--color-text-white);
}

.btn-catalog__text {
  color: var(--color-text-white);
}

.search {
  border: 1px solid var(--color-text-black);
}

.search__input {
  color: var(--color-text-black);
}

.btn-track-order {
  color: var(--color-text-black);
}

.drop-down-catalog__content-wrapp-2.active::-webkit-scrollbar {
  height: 7px;
}

.drop-down-catalog__content-wrapp-2.active::-webkit-scrollbar-track {
  background-color: var(--color-background-card);
}

.drop-down-catalog__content-wrapp-2.active::-webkit-scrollbar-thumb {
  background-color: var(--color-background-yellow);
}

.drop-down-catalog__content-box:hover {
  background-color: #dcdcdc;
  border-color: var(--color-text-black);
}

.drop-down-catalog__content-box.hovered-2,
.drop-down-catalog__content-box.hovered {
  background-color: #dcdcdc;
  border-color: var(--color-text-black);
}

.drop-down-catalog__content-level-2 {
  background-color: var(--color-background-path);
}

.drop-down-catalog__content-level-2 ul li a {
  color: rgba(0, 0, 0, 0.6);
}

.drop-down-catalog__content-level-2 ul li a:focus-visible,
.drop-down-catalog__content-level-2 ul li a:hover,
.drop-down-catalog__content-level-2 ul li a:active {
  color: var(--color-text-black);
}

.drop-down-catalog__btn-2 {
  color: var(--color-text-black);
}

.drop-down-catalog__btn-2 span {
  color: rgba(0, 0, 0, 0.6);
}

.drop-down-catalog__item.hovered {
  background-color: #dcdcdc;
  border-color: var(--color-text-black);
}

.drop-down-catalog__item.hovered .drop-down-catalog__btn {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.drop-down-catalog__btn:hover,
.drop-down-catalog__btn:focus-visible,
.drop-down-catalog__btn:active {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.drop-down-catalog__btn img {
  -webkit-filter: invert(1) brightness(0);
          filter: invert(1) brightness(0);
}

.drop-down-catalog__btn span {
  color: var(--color-text-black);
}

.drop-down-catalog .card1 {
  position: relative;
  padding: 42px 5px 5px;
  min-width: 193px;
  outline: 3px solid transparent;
  -webkit-transition: outline-color 0.4s ease-in-out;
  transition: outline-color 0.4s ease-in-out;
}

.drop-down-catalog .card1:hover {
  outline-color: var(--color-background-yellow);
}

.drop-down-catalog .card1__box-info {
  padding: 6px 4px 3px 6px;
}

.drop-down-catalog .card1__title {
  margin-bottom: 8px;
  font-size: 13px;
}

.drop-down-catalog .btn1__text {
  padding: 4px 10px;
  font-size: 8px;
}

.drop-down-catalog .btn1__box-svg {
  padding: 0 6px;
}

.drop-down-catalog .btn1__box-svg svg {
  width: 8px;
  height: 7px;
}

.drop-down-catalog__content {
  display: none;
}

.slide-hero {
  background-color: #e7e7e7;
}

.no-webp .slide-hero__line {
  background-image: url(../img/main-page/sec1/beac1-light.png); }

.slide-hero__line {
  background-color: var(--color-text-black);
}

.main-sec1__title {
  color: var(--color-text-black);
}

.main-sec1__title span {
  color: var(--color-text-black);
}

.main-sec1__desc {
  color: rgba(0, 0, 0, 0.8);
}

.main-sec1__swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(111, 111, 111, 0.5);
  border: 1px solid var(--color-background-yellow);
}

.main-sec1 .btn1__text {
  background-color: transparent;
  color: var(--color-text-black);
}

.card3__box-img button {
  color: var(--color-text-black);
}

.card3__link-card {
  color: var(--color-text-black);
}

.card3__price span:first-child {
  color: var(--color-text-black);
}

.checkbox1__input:checked ~ .checkbox1__box {
  border-color: var(--color-text-black);
  background-color: var(--color-background-yellow);
}

.checkbox1__input:checked ~ .checkbox1__box svg {
  opacity: 1;
}

.checkbox1__box {
  border: 1px solid var(--color-text-black);
  -webkit-transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.checkbox1__box svg path {
  stroke: var(--color-text-black);
}

.checkbox1__text {
  color: var(--color-text-black);
}

.counter1 {
  border: 1px solid var(--color-text-black);
}

.counter1 button {
  color: var(--color-text-black);
}

.counter1 span input {
  color: var(--color-text-black);
}

.section-title {
  color: var(--color-text-black);
}

.about-us-sec1__content p {
  color: var(--color-text-black);
}

.about-us-sec1__caption {
  color: var(--color-text-black);
}

.about-us-sec1__list-desc p {
  color: var(--color-text-black);
}

.about-us-sec1__link {
  background-color: #353535;
}

.about-us-sec1__link svg,
.about-us-sec1__link span {
  pointer-events: none;
}

.about-us-sec1__link:focus,
.about-us-sec1__link:focus-visible {
  outline: none;
}

.about-us-sec1__link:focus-visible,
.about-us-sec1__link:hover,
.about-us-sec1__link:active {
  background-color: var(--colir-border-marker);
}

.card5__title {
  color: var(--color-text-black);
}

.card5__desc {
  color: rgba(0, 0, 0, 0.6);
}

.drop-down1 {
  color: var(--color-drop-gray3);
}

.drop-down1__btn {
  color: var(--color-text-black);
}

.drop-down1__btn:focus-visible,
.drop-down1__btn:hover,
.drop-down1__btn:active {
  color: var(--color-drop-gray3);
}

.drop-down1__list {
  background-color: var(--color-background-card);
}

.catalog-sec1__title {
  color: var(--color-text-black);
}

.catalog-sec1__products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.catalog-sec1__products-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 60px;
}

.catalog-sec1__list-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.catalog-sec1__list-catalog li {
  outline: 5px solid transparent;
  position: relative;
  -webkit-transition: outline 0.4s ease-in-out;
  transition: outline 0.4s ease-in-out;
}

.catalog-sec1__list-catalog li:hover {
  outline-color: var(--color-background-yellow);
}

.catalog-sec1__list-catalog li .card1 {
  padding: 100px 10px 10px;
}

.catalog-sec1__list-catalog li .card1__box-info {
  padding: 15px 10px 10px;
}

.catalog-sec1__list-catalog li .card1__title {
  margin-bottom: 10px;
  font-size: 20px;
}

.catalog-sec1__list-catalog li .btn1__text {
  padding: 5px 15px;
  font-size: 10px;
}

.catalog-sec1__list-catalog li .btn1__box-svg {
  padding: 0 6px;
}

.catalog-sec1__list-catalog li .btn1__box-svg svg {
  width: 11px;
  height: 10px;
}

.filters__main-item p {
  color: var(--color-text-black);
}

.checkbox2__input:checked + span {
  color: var(--color-text-black);
  background-color: var(--color-background-yellow);
}

.checkbox2 span {
  color: var(--color-text-black);
  background-color: var(--color-background-card);
}

.btn4 {
  color: var(--color-text-black);
  background-color: var(--color-background-card);
}

.btn4:focus-visible,
.btn4:hover,
.btn4:active {
  background-color: var(--color-background-yellow);
}

.list-pages a {
  color: var(--color-text-black);
}

.list-pages__list a {
  color: var(--color-text-black);
}

.product-card-sec1__button-next,
.product-card-sec1__button-prev {
  color: var(--color-text-black);
}

.product-card-sec1__title {
  color: var(--color-text-black);
}

.product-card-sec1__btn {
  color: #333;
  border: 1px solid #333;
}

.product-card-sec1__box-btn-decs p span:first-child {
  color: var(--color-text-black);
}

.product-card-sec1__box-btn-decs p span:nth-child(2) {
  color: var(--color-text-black);
}

.product-card-sec1__box-btn-decs .btn3 {
  height: auto;
}

.product-card-sec1__box-btn-decs .btn3__btn {
  max-height: 100%;
}

.product-card-sec1__box-btn-decs .btn5 {
  width: 235px;
}

.product-card-sec1__equipment-desc {
  color: var(--color-text-black);
}

.product-card-sec1__equipment-list li.selected button {
  color: var(--color-text-black);
  background-color: var(--color-background-yellow);
}

.product-card-sec1__table-row p:first-child {
  font-weight: 500;
  color: var(--color-text-black);
}

.product-card-sec1__table-row p:last-child {
  color: var(--color-text-black);
}

.product-card-sec1__box-content p {
  color: var(--color-text-black);
}

.product-card-sec1__btn-fasteners {
  color: var(--color-text-black);
  background-color: var(--color-background-card);
}

.btn5 {
  border: 1px solid #212121;
  background-color: #212121;
}

.btn-equipment__box-img {
  border: 1px solid var(--color-text-black);
}

.btn-equipment__text {
  color: var(--color-text-black);
}

.btn6 {
  color: var(--color-text-black);
}

.basket-sec1__left p {
  color: var(--color-text-black);
}

.basket-sec1__desc {
  color: var(--color-text-black);
}

.basket-sec1__price {
  color: var(--color-text-black);
}

.box-orders__btn-close span {
  background-color: var(--color-text-black);
}

.box-orders__desc-name {
  color: var(--color-text-black);
}

.box-orders__price span:first-child {
  color: var(--color-text-black);
}

.box-orders__price span:last-child {
  color: var(--color-btn-gray2);
}

.box-orders.current-orders .box-orders__price span:last-child {
  color: var(--color-text-black);
}

.personal-account__list-points li a {
  color: var(--color-text-black);
}

.personal-data__desc-wrapp p {
  color: var(--color-text-black);
}

.personal-data__list li label {
  color: var(--color-text-black);
}

.personal-data__list li input,
.personal-data__list li textarea {
  color: var(--color-text-black);
}

.personal-data__cancel {
  color: var(--color-text-black);
}

.personal-data__cancel:focus-visible,
.personal-data__cancel:hover,
.personal-data__cancel:active {
  background-color: var(--color-background-card);
}

.box-orders-top-line__order-box p:last-child {
  color: var(--color-text-black);
}

.box-orders-top-line__date-box {
  color: var(--color-btn-gray2);
}

.static-page-sec1__content {
  color: var(--color-text-black);
}

.static-page-sec1__content h1,
.static-page-sec1__content h2,
.static-page-sec1__content h3,
.static-page-sec1__content h4 {
  color: var(--color-text-black);
}

.contacts-sec1__top {
  color: var(--color-text-black);
}

.contacts-sec1__map {
  background-color: var(--color-background-card);
}

.contacts-sec1__title-form {
  color: var(--color-text-black);
}

@media (max-width: 1200px) {
  .catalog-sec1__list-catalog {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1030px) {
  .header__nav {
    background-color: var(--colir-background-body);
  }

  .header__list a {
    color: var(--color-text-black);
  }

  .header__burger {
    background-color: var(--color-text-black);
  }

  .header__burger span {
    background-color: var(--color-text-white);
  }

  .about-us-sec1__box-top {
    gap: 24px;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-us-sec1__image {
    width: 100%;
    max-height: 400px;
  }

  .about-us-sec1__image img {
    height: auto;
  }

  .about-us-sec1__content {
    padding: 16px 11px;
  }

  .about-us-sec1__content p {
    font-size: 14px;
  }

  .about-us-sec1__caption {
    margin-bottom: 22px;
    font-size: 24px;
  }

  .about-us-sec1__features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }

  .about-us-sec1__features-list li {
    height: auto;
  }

  .about-us-sec1__list-desc {
    margin-bottom: 48px;
  }

  .catalog-sec1__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog-sec1__aside {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .drop-down-catalog__menu {
    padding: 10px 0;
    width: 100%;
  }

  .drop-down-catalog__main-content {
    display: none;
  }

  .drop-down-catalog__item {
    padding-left: 0;
    border-left: 1px solid transparent;
  }

  .drop-down-catalog__content-wrapp-2 ul li a {
    color: rgba(0, 0, 0, 0.6);
  }

  .drop-down-catalog__content-wrapp-2 ul li a:hover,
  .drop-down-catalog__content-wrapp-2 ul li a:focus-visible,
  .drop-down-catalog__content-wrapp-2 ul li a:active {
    color: var(--color-text-black);
  }

  .catalog-sec1__list-catalog {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 669px) {
  .no-webp .slide-hero__line {
    background-image: url("../img/main-page/sec1/beac1(340)-light.png"); }

  .about-us-sec1__group-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-us-sec1__link {
    padding: 16px 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 17px;
    font-size: 14px;
  }

  .about-us-sec1__link svg {
    width: 28px;
    height: 28px;
  }

  .catalog-sec1__products-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .catalog-sec1__list-catalog {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.webp .slide-hero__line { background-image: url(../img/main-page/sec1/beac1-light.webp); }

@media (max-width: 669px) {

  .webp .slide-hero__line { background-image: url(../img/main-page/sec1/beac1(340)-light.webp); }
}