@forward "components/basic-light";
@forward "boxs/header-light";
@forward "components/logo-light";
@forward "components/btn-catalog-light";
@forward "components/search-light";
@forward "components/btn-track-order-light";
@forward "boxs/drop-down-catalog-light";
@forward "components/slide-hero-light";
@forward "boxs/main-sec1-light";
@forward "components/card3-light";
@forward "components/checkbox1-light";
@forward "components/counter1-light";
@forward "components/section-title-light";
@forward "boxs/about-us-sec1-light";
@forward "components/card5-light";
@forward "components/drop-down1-light";
@forward "boxs/catalog-sec1-light";
@forward "boxs/filters-light";
@forward "components/checkbox2-light";
@forward "components/btn4-light";
@forward "components/list-pages1-light";
@forward "boxs/product-card-sec1-light";
@forward "components/btn5-light";
@forward "components/btn-equipment-light";
@forward "components/btn6-light";
@forward "boxs/basket-sec1-light";
@forward "boxs/box-orders-light";
@forward "boxs/personal-account-light";
@forward "boxs/personal-data-light";
@forward "boxs/box-orders-top-line-light";
@forward "boxs/static-page-sec1-light";
@forward "boxs/contacts-light";